# Backend
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000
DATABASE_URL=mysql+pymysql://nihongo:1234@mysql:3306/nihongo_webapp
DATABASE_URL_LOCAL=mysql+pymysql://nihongo:1234@127.0.0.1:13306/nihongo_webapp
JWT_SECRET=change-me

# Frontend
VITE_API_BASE_URL=http://localhost:8000/api

# MySQL
MYSQL_DATABASE=nihongo_webapp
MYSQL_USER=nihongo
MYSQL_PASSWORD=1234
MYSQL_ROOT_PASSWORD=1234
MYSQL_HOST=127.0.0.1
MYSQL_PORT=13306
